*{margin:0;padding:0;box-sizing:border-box;}
*::before,*::after{box-sizing:border-box}
a{
    text-decoration: none;
}
ol,li{list-style: none;}

body{font-size:3.7vw;}

.topBar{background:#D43C33;padding:4.3vw 2.5vw;display: flex;align-items: center;justify-content: space-between;
}

.topBar .logo{ background:#D43C33;width:38vw;}

.topBar .downloadAPP{
    font-size:3.7vw;
    line-height:7.5vm;
    border:1px solid white;
    border-radius:4.25vw;
    display: block;
    color:white;
    padding:0.4em 0.8em;
}

.siteNav>ol{
    display: flex;
    text-align: center;
    border-bottom:1px solid #cccccc;
    font-size:1.1em;
    line-height: 11vw;
}
.siteNav>ol>li{
    flex-grow: 1;
}

.siteNav>ol>li.active{
    color:#D43C33;
}

.siteNav>ol>li>span{
    display: inline-block;
    line-height:11vw;
    position: relative;
}

.siteNav>ol>li.active>span::after{
    content:'';
    display:block;
    position: absolute;
    bottom:0.1px;
    border-bottom:2px solid rgb(212,60,51);
    width:120%;
    left:-10%;
}

section.playLists>h2{
    font-size:1.2em;
    margin:5vw 0;
    font-weight:normal;
    padding-left:0.4em;
    display: inline-block;
    border-left:2px solid red;
    line-height:1em;
}

section.playLists ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}


section.playLists ul li{
    height:48vw;
    width:32.7vw;
}
section.playLists li img{
    height:32.7vw;
    width:32.7vw;
}

section.playLists li p{
    font-size:0.94em;
    padding:1vw 1vw;
/* 显示两 隐藏第三行**/
    display: -webkit-box;
    line-height: 1.3em;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
}

section.lastestMusic>h2{
    font-size:1.2em;
    margin:5vw 0;
    font-weight:normal;
    padding-left:0.4em;
    display: inline-block;
    border-left:2px solid red;
    line-height:1em;
}

section.lastestMusic>ol>li{
    padding-top:0.3em;
    border-bottom:1px solid #E2E2E3;
    padding-left:0.7em;
    padding-bottom: 0.3em;
    position: relative;

}

section.lastestMusic>ol>li h3{
    font-size:1.2em;
    font-weight:normal

}

section.lastestMusic>ol>li .sq{
    background:url('./img/SQ.png');
    background-size:12em 6em;
    height:0.8em;
    width:1.2em;
    overflow: hidden;
    margin:0.5em 0;

}
section.lastestMusic>ol>li p{
    font-size:0.92em;
    color:#888;
    margin:0.8vw 0;
    position: absolute;
    bottom:0.6em;
    left:2em;
    

}
section.lastestMusic>ol>li a{
    position: absolute;
    bottom:1vw;
    left:53vw;
}

section.lastestMusic>ol>li .icon{
    height:2em;
    fill:#888;
   
}




section.art{}



